
<footer style="background-color: #6c757d; color: white; text-align: center; padding: 15px 0; position: relative; bottom: 0; width: 100%;">
    <p>&copy; 2024 Yılmaz Yiğit Gökmen. All rights reserved.</p>
</footer>

@* In my project, there is a footer fixed at the bottom of the page that contains a text stating that the rights belong to me.*@